
.login-form {
  background: #FFFFFF;
  width: 400px;
  margin: auto;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-by ul {
  padding-right: 20px;
  padding-left: 14px;
  margin: 15px 10px 45px;
}
li {
  display: inline;
  margin: 15px;
  padding: 5px;
}
li input {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.signup input {
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 5px;
}
.signup button {
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 5px  ;
  background-color: rgb(250, 153, 7);
  box-shadow: rgb(82, 67, 67) 1.5px 4px 15px 2.5px;
  border:rgb(28, 110, 164);
  display: inline-block;
}
.signup button:hover {
  background: linear-gradient(to right, #ffcf00 0%, #d4ff00 30%, #16ff01 100%);
  color: blue;
}
.signup button:active {
  position: relative;
  top: 5px;
}
